<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coleta de Preco</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <button id="themeToggle" class="theme-toggle secundario" type="button">Modo escuro</button>
  <div class="layout">
    <aside class="sidebar">
      <h2>Sistema Posto</h2>
      <button type="button" onclick="window.location.href='dashboard.html'">Dashboard</button>
    </aside>

    <main class="conteudo">
      <h1>Coleta de Preco</h1>

      <div class="formulario">
        <select id="postoId">
          <option value="">Selecione o posto</option>
        </select>
        <input type="date" id="dataColeta">
        <select id="tipoCombustivel">
          <option value="">Selecione o combustivel</option>
          <option value="Gasolina comum">Gasolina comum</option>
          <option value="Gasolina aditivada">Gasolina aditivada</option>
          <option value="Gasolina premium">Gasolina Premium</option>
          <option value="Etanol">Etanol</option>
          <option value="DieselS10">DieselS10</option>
          <option value="DieselS500">DieselS500</option>
          <option value="GNV">GNV</option>
          <option value="Biodiesel">Biodiesel</option>
          <option value="GLP">GLP</option>
          <option value="Hidrogenio">Hidrogênio</option>
          <option value="Energiaeletrica">Energia Elétrica</option>
          </option>

        </select>
        <input type="number" id="preco" step="0.01" min="0" placeholder="Preco">

        <div class="acoes">
          <button id="btnSalvarColeta" type="button">Salvar</button>
          <button class="secundario" type="button" onclick="window.location.href='dashboard.html'">Voltar</button>
        </div>

        <p id="mensagem" class="mensagem"></p>
      </div>
    </main>
  </div>

  <script src="../controller/coletaPrecoController.js"></script>
  <script src="../controller/themeController.js"></script>
</body>
</html>
